main{
  background-color: #121212;
}
.news-section{
  width: 100%;
}
.news-banner{
  position: relative;
  width: 100%;
  height: auto;
}
.news-banner img{
  width: 100%;
  height: 298px;
  object-fit: cover;
}
.news-banner h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: clamp(24px, 5vw, 40px);
  font-weight: bold;
}

/* 메뉴&검색창 */
.menu-section{
  width: 100%;
  padding: 120px 80px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.menu{
  display: flex;
  align-items: center;
  gap: 30px;
  padding:  0px 80px;
  list-style: none;
  margin-left: 100px;
}
.menu li{
  padding: 17px 30px;
  border-radius: 20px;
  text-align: center;
  background-color: #2A2A2A;
  color: #fff;
}

/* 검색창 */
.search-box{
  display: flex;
  align-items: center;
  background-color: #2A2A2A;
  border-radius: 30px;
  padding: 17px 17px;
}
.search-input{
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  min-width: 250px;
  font-size: 18px;
  font-weight: bold;
  font-weight: bold;
  cursor: text;
}
.search-input span{
  pointer-events: none;
}
.search-box button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 50px;
  background-color: #2A2A2A;
  border: none;
  cursor: pointer;
}
.search-box button img{
  width: 20px;
  height: 20px;
}
/* 메뉴&검색창 끝 */

/* 게임 새소식 이미지&제목&시간 */
.news-grid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 330px); /* 한 줄에 3개 */
  gap: 50px 20px;
  padding: 0 80px;
  padding-left: 160px;
  box-sizing: border-box;
  justify-content: space-around;
}
.news-box{
  background-color: #6E6969;
  border-radius: 20px;
  width: 330px;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 0;
}
.news-list-box{
  width: 100%;
  height: 180px;
  padding: 0;
}
.news-list-box img{
  outline: 1px solid red;
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  display: block;
}

.news-box h2{
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  color: #fff;
}
.news-box p{
  display: flex;
  justify-content: center;
  margin: 0 0 10px;
  gap: 177px;
  color: #AEC5CB;
  font-size: 14px;
}