html{
  scroll-behavior: smooth;
}

/* 소셜 미디어 */
.social-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 227px;
  background-color: #666;
  flex-direction: column;
}

.media{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  color: #fff;
}

.media > h2 {
  font-size: 24px;
  margin: 0;
  color: #fff;
}

.social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style: none;
  width: 420px;
  padding: 0;
  margin: 0;
}
.social-icons > li > a img{
  width: 60px;
  height: 60px;
  background-color: #605656;
  border-radius: 50%;
  padding: 10px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.social-icons > li > a img:hover{
  transform: scale(1.1);
  opacity: 0.8;
}
.top-btn{
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
}
.top-btn img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.top-btn:hover{
  transform: scale(1.1);
}
/* 소셜 미디어 끝 */
